.about {
  composes: about from "../../App.module.css";
  overflow-y: scroll;
}
.about::-webkit-scrollbar {
  width: 8px;
}

.about::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 14px;
}

.about::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 14px;
}

.about::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 56, 58);
}
.container {
  min-height: 600px;
  margin-right: 20px;
  margin-bottom: 100px;
  /* border: 1px solid black; */
  position: relative;
  border-right: 3px solid green;
}
.content, .content2, .exp {
  min-height: 30rem;
  width: 76%;
  border-radius: 5px;
  background: rgba(204, 192, 192, 0.11);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 60px;
  /* border: 1px solid black; */
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(143, 141, 141, 0.884);
}
.content2 {
  margin-top: 50px;
  min-height: 15rem;
  
}
.float {
  position: absolute;
  top: 5%;
  right: 1%;
  height: 550px;
  width: 30%;
  /* border: 1px solid black; */
  
}
.float-content {
  border: 1px solid black;
  height: 80px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 600;
}
.float-frame {
  border: 1px solid black;
  height: 380px;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.about-frame {
  /* border: 1px solid black; */
  height: 380px;
  width: 68%;
  position: absolute;
  bottom: 3%;
  right: 0;
}



 /* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------ -----------------*/
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    min-height: 600px;
    margin-right: 10px;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    position: relative;
    border-right: 1px solid rgb(177, 118, 52);
    padding-top: 30%;
  }
  .content, .content2, .exp {
    min-height: 20rem;
    width: 97%;
    padding: 20px 10px;
    font-size: 14px;
    /* border: 1px solid black; */
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .m-text {
    width: 100% !important;
  }
  .content2 {
    margin-top: 50px;
    min-height: 15rem;
    
  }
  .float {
    position: absolute;
    top: 2%;
    right: 1%;
    height: 550px;
    width: 92%;
    /* border: 1px solid black; */
    
  }
  .float-content {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    font-size: 28px;
  }
  .float-frame {
    display: none;
  }
  .about-frame {
    display: none;
    /* border: 1px solid black; */
    height: 380px;
    width: 68%;
    position: absolute;
    bottom: 3%;
    right: 0;
  }
  
  
  
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    min-height: 400px;
  }
  .content, .content2, .exp {
    min-height: 12rem;
    width: 75%;
    padding: 20px;
    font-size: 16px;
    /* border: 1px solid black; */
  }
  .content {
    display: flex;
    /* flex-direction: column; */
  }

  .float {
    position: absolute;
    top: 2%;
    right: 1%;
    height: 250px;
    width: 30%;
    /* border: 1px solid black; */
    
  }
  .float-content {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    font-size: 23px;
  }

  .float-frame {
    height: 159px;
    width: 70%;
    
  }
  .about-frame {
    /* display: none; */
    /* border: 1px solid black; */
    height: 150px;
    width: 68%;
    position: absolute;
    bottom: 3%;
    right: 0;
  }
  .avatar {
    height: 130px !important;
    width: 120px !important;
  }
  

}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    min-height: 400px;
  }
  .content, .content2, .exp {
    min-height: 12rem;
    width: 78%;
    padding: 20px;
    font-size: 16px;
    /* border: 1px solid black; */
  }
  .content {
    display: flex;
    /* flex-direction: column; */
  }

  .float {
    position: absolute;
    top: 2%;
    right: 1%;
    height: 250px;
    width: 26%;
    /* border: 1px solid black; */
    
  }
  .float-content {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    font-size: 23px;
  }

  .float-frame {
    height: 159px;
    width: 70%;
    
  }
  .about-frame {
    /* display: none; */
    /* border: 1px solid black; */
    height: 150px;
    width: 68%;
    position: absolute;
    bottom: 3%;
    right: 0;
  }
  .avatar {
    height: 150px !important;
    width: 130px !important;
  }
  


}
