/* ---------------------------- */
/* Home */

.home {
    composes: home from '../../App.module.css';
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .home.active {
    transform: translateY();
  }
  .header-tag1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .box-border {
    margin-top: 4rem;
    border: 1px solid grey;
    width: 71%;
    position: relative;
  }
  .m-hr {
    width: 200px;
    padding-top: 24px;
  }
  .header-tag2 {
    font-family: ThinFont;
    font-size: 5rem;
    position: absolute;
    top: -26%;
    left: 4%;
    background-color: #fafafa;
    padding: 5px 20px;
    line-height: 88px;
    z-index: 200;
    /* font-weight: 300; */
    /* text-shadow: 3px 3px 3px black; */
  }
  .header-tagline {
    font-size: 1.8rem;
    font-family: LightFont;
    color: #55696d;
    display: flex;
    align-items: flex-start;
    margin: 170px 0 5rem 50px;
  }
  .header-button-container {
    margin-top: 1rem;
  }
  .button-project,
  .button-contact {
    padding: 0.5rem 1.2rem;
    border-radius: 15px;
    font-size: 1rem;
    /* border: 1px solid rgba(199, 5, 79, 0.459); */
    /* background-color: #aa054a; */
  }



  /* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------ -----------------*/
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
 
  .box-border {
    border: 1px solid grey;
    width: 100%;
    /* height: 10rem; */
    position: relative;
  }
  .m-hr {
    width: 35px;
    padding-top: 11px;
  }
  .header-tag2 {
    font-size: 38px;
    top: -22%;
    padding: 15px 20px;
    line-height: 38px;
    /* font-weight: 300; */
    /* text-shadow: 3px 3px 3px black; */
  }
  .header-tagline {
    font-size: 14px;
    font-family: LightFont;
    color: #55696d;
    display: flex;
    align-items: flex-start;
    margin: 100px 10px 40px 17px;
  }
  
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .box-border {
    width: 99%;
  }
  .header-tag2 {
    /* line-height: 74px; */
    /* font-size: 3re/m; */
  }
  .header-tagline {
    font-size: 1.2rem;
    /* margin-bottom: 2rem; */
  }
}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .box-border {
    width: 67%;
  }
  .header-tag2 {
    font-size: 48px;
    line-height: 58px;
  }
  .m-hr {
    width: 140px;
    padding-top: 11px;
  }
  .header-tagline {
    margin: 120px 0 50px 32px;
    font-size: 14px;
  }
}
