.contact-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  
  /* Column one */
  .contact-column-one {
    /* border: 1px solid black; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .column-one-inner {
    /* border: 1px solid black; */
    height: 70%;
  }
  .contact-tag {
    font-size: 4rem;
    font-weight: 500;
  }
  .contact-tagline {
    font-size: 1.5em;
    /* border: 1px solid black; */
    height: 50%;
    background: grey;
    color: #fff;
    padding: 20px;
  }
  
  /* Column two */
  .contact-column-two {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
  }
  .contact-form {
    /* border: 1px solid black; */
    height: 70%;
    width: 80%;
  }
  input,
  textarea {
    height: 3rem;
    width: 70%;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 1.1rem;
    border-radius: 3px;
    border-style: none;
    outline: none;
    box-shadow: 0.1rem 0.1rem 0.2rem #c5c5c5 inset,
      -0.1rem -0.1rem 0.2rem #ffffff80 inset, 0.3rem 0.3rem 0.6rem #c5c5c5,
      -0.2rem -0.2rem 0.5rem #ffffff80;
    color: #808080;
    border: 0;
  }
  /* icon inside input section */
  .input-container {
    position: relative;
  }
  .input-i {
    padding-left: 10%;
  }
  .icon-i {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 72%;
    padding-right: 0.9rem;
    border-right: 1px solid #003c49;
    display: flex;
    align-items: center;
  }
  .icon-i-message {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 88%;
    padding-right: 0.9rem;
    border-right: 1px solid #003c49;
    display: flex;
    align-items: center;
  }
  .input-i-message {
    padding: 0.5rem 0;
    padding-left: 10%;
  }
  /* ends  */
  
  .message {
    height: 10rem;
  }
  textarea {
    /* width: 77%; */
  }
  .contact-button {
    width: 25%;
    height: 10%;
    border-radius: 3px;
    font-size: 0.9rem;
    background-color: grey;
    color: white;
    margin: 0.5rem 0 0 0.5rem;
    border-style: none;
    text-transform: uppercase;
  }
  

  /* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------ -----------------*/
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
   
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
