/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
  /* font-size: calc(60% + 0.8vmin); */
}

/* -------------------------- */
/* FONTS */
/* -------------------------- */
@font-face {
  font-family: RegularFont;
  src: url("./fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ------------------------- */
/* CSS Variables */
:root {
  /* --primary-color: rgb(235, 235, 238); */
  --secondary-color: grey;
  --normal-font: ;
  --bold-font: ;
}

/* Utilities */
.text-centered {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  opacity: 0.7;
}

body, html {
  font-family: RegularFont;
  height: 100%;
  width: 100%;
}
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 82% 8%;
  grid-template-areas:
    "hd   hd   hd   hd"
    "main main main main"
    "ft   ft   ft   ft";
    padding: 0 50px;
  /* gap: 10px; */
  /* border: 2px solid black; */
  /* background-color: #f3f3f3; */
}
.home, .about, .project, .contact {
  grid-area: main;
  
}

/* ------------------------------ */
/*  */
/* ------------------------------ */
nav {
  grid-area: hd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px
  /* box-shadow: 1px 3.2px 15px lightgray; */
  /* background: #fff; */
}
.m-toggle {
  display: none;
}
.nav-title {
  align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav-menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.top-icon {
  margin-left: 10px;
  align-self: center;
  /* color: #16446b; */
}
.icon {
  padding: 0 15px;
}
.nav-btn {
  background: grey;
  /* padding: 0 auto; */
  border-radius: 2px;
  padding: 0px 42px;
  width: 31%;
  height: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75rem;
}
.nav-btn a {
  text-decoration: none;
  color: #fff;
}
.nav-btn a:hover {
  opacity: 0.7;
}

/* ------------------------------ */
/* TABS */
/* ------------------------------ */
.tabs-container {
  grid-area: ft;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  /* padding: 0px 50px; */
}
.horizontal-line {
  width: 55%;
  border-color: lightgray;
}
.nav-link, .nav-active {
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link {
  color: black;
  padding: 10px 20px;
  /* border: 1px solid black; */
 
}
.nav-active {
  background: grey;
  color: #fff;
  border-radius: 4px;
}


/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */





/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------ -----------------*/
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

  .App {
    padding: 5px 15px;
    /* grid-template-rows: 10% 84% 6%; */
  }
  .home, .about, .project, .contact {
    /* grid-area: main; */
    /* display: none; */
    
  }
  nav {
    padding: 5px 0;
  }
  .large-links {
    display: none !important;
  }
  .m-toggle {
    display: block;
    height: 54%;
    width: 40px;
    /* border: 1px solid black; */
  }
  .nav-title {
    font-size: 14px;
    line-height: 14px;
  }
  .nav-btn {
    height: 60%;
    font-size: 10px;
  }
  .horizontal-line, .m-copyright {
    display: none !important;
  }
  .nav-link, .nav-active {
    font-size: 12px;
    width: 100%;
    text-decoration: none;
    padding: 3px 9px;
    text-align: center;
  }
  .m-tabs {
    width: 100% !important;
  }
  
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App {
    padding: 5px 20px;
  }
}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
