
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid black; */
  /* font-size: calc(60% + 0.8vmin); */
}
html {
  overflow-y: hidden;
}

/* CSS Variables */
:root {
  /* --primary-color: rgb(235, 235, 238); */
  /* --secondary-color: rgb(21, 21, 27); */
  --normal-font: ;
  --bold-font: ;
}

/* Utilities */
.text-centered {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  opacity: 0.7;
}


.App {
  height: 100%;
}


/* ------------------------------ */
/* ------------------------------ */
header {
  height: 100vh;
  background-color: #f3f3f3;
  /* padding: 1.2rem 0 0 0; */
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 1.1rem;
  box-shadow: 1px 3.2px 15px lightgray;
  height: 9%;
}
.nav-title {
  align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav-menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.top-icon {
  margin-left: 10px;
  align-self: center;
  /* color: #16446b; */

}
.icon {
  padding: 0 15px;
}
.nav-btn {
  background: grey;
  /* padding: 0 auto; */
  border-radius: 2px;
  width: 31%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75rem;
}
.nav-btn a {
  text-decoration: none;
  color: #fff;
}
.nav-btn a:hover {
  opacity: 0.7;
}
.header-inner {
  height: 82%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* margin-top: 1.5rem; */
}
.header-tabs-container {
  height: 9%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 3rem;
  border-top: 1px solid lightgray;
}
.horizontal-line {
  width: 36%;
  border-color: lightgray;
}
.tab {
  
  width: 10%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 2rem;
  /* border: 1px solid black; */
  border-radius: 4px;
}
.tab a.active {
  background: grey;
  color: #fff;
}
/* Footer section */
footer {
  text-align: center;
  /* color: beige; */
  font-size: 0.7rem;
  }




/* ---------------------------- */
/* Home */

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
.home.active {
  transform: translateY();
}
.header-tag1 {
  font-size: 2rem;
  font-weight: 500;
}
.header-tag2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 3px 3px 3px black;
}
.header-tag-job {
  border-bottom: 1.8px solid #aa054a75;
} 
.header-tagline {
  font-size: 1.8rem;
  color: #55696d;
  font-weight: 300;
}
.header-button-container {
  margin-top: 1rem;
}
.button-project, .button-contact {
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  font-size: 1rem;
  /* border: 1px solid rgba(199, 5, 79, 0.459); */
  /* background-color: #aa054a; */
} 


/* ------------------------- */
/*About Section*/
.about-section {
  height: 100%;
  width: 100%;
  position: relative;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* justify-content: space-around; */
}
.box1 {
  height: 89%;
  width: 50%;
  background: rgb(136, 138, 139);
  position: absolute;
  top: 0;
  left: 0;
}
.box2 {
  height: 70%;
  width: 20%;
  background: rgb(39, 55, 85);
  position: absolute;
  top: 0;
  right: 37%;
  z-index: 999;
}
.box3 {
  height: 89%;
  width: 46%;
  background: rgb(136, 138, 139);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.about-image {
  width: 75%;
  height: 110%;
  display: block;
  margin: 0 auto;
}
.who-content {
  border: 1px solid #fff;
  border-bottom: none;
  border-right: none;
  margin-left: 25%;
  margin-top: 5%;
  height: 94%;
  color: #fff;
}
.skill-content {
  border: 2px solid #fff;
  
  margin-right: 25%;
  margin-bottom: 5%;
  height: 80%;
  color: #fff;
}

/* skills */
.skill-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem 0;
}
.skill-container {
  display: flex;
  justify-content: space-between;
}
.skill {
  text-align: center;
  font-size: 1rem;
  height: 10rem;
  width: 23%;
  background-color: #fff7ec;
  border-radius: 10px;

}

/* ------------------------------------------------------ */
/* Project Section */
.project-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.project-title {
  text-align: center;
  font-size: 4rem;
  /* border: 1px solid black; */
  width: 19%;
  font-weight: 600;
  margin-top: 1rem;
}
.project-container {
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
}
.project-flex-one {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* .project-flex-two {
  border: 1px solid black;
  height: 38%;
  width: 50%;
} */
.box {
  background-color: rgba(128, 128, 128, 0.274);
  height: 90%;
  width: 45%;
  border-radius: 5px;
  box-shadow: 7px 10px 10px -3px grey;
}
.box-image {
  width: 100%;
  height: 60%;
  display: block;
  margin: 0 auto;
  
}
.box-content {
  padding: 1rem 1.5rem;
}
.box-tag {
  font-size: 2rem;
  font-weight: 600;
  /* margin-top: 1rem; */
}
.box-paragraph {
  margin-top: 1rem;
}

/* ------------------------------------------ */
/* Contact section */
.contact-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* Column one */
.contact-column-one {
  /* border: 1px solid black; */
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-one-inner {
  /* border: 1px solid black; */
  height: 70%;
}
.contact-tag {
  font-size: 4rem;
  font-weight: 500;
}
.contact-tagline {
  font-size: 1.5em;
  /* border: 1px solid black; */
  height: 50%;
  background: grey;
  color: #fff;
  padding: 20px;
}

/* Column two */
.contact-column-two {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.contact-form {
  /* border: 1px solid black; */
  height: 70%;
  width: 80%;

}
input, textarea {
  height: 3rem;
  width: 70%;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 1.1rem;
  border-radius: 3px;
  border-style: none;
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.2rem #c5c5c5 inset,
  -0.1rem -0.1rem 0.2rem #ffffff80 inset, 0.3rem 0.3rem 0.6rem #c5c5c5,
  -0.2rem -0.2rem 0.5rem #ffffff80;
  color: #808080;
  border: 0;
}
/* icon inside input section */
.input-container {
  position: relative;
}
.input-i {
  padding-left: 10%;
}
.icon-i {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 72%;
  padding-right: 0.9rem;
  border-right: 1px solid #003c49;
  display: flex;
  align-items: center;
}
.icon-i-message {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 88%;
  padding-right: 0.9rem;
  border-right: 1px solid #003c49;
  display: flex;
  align-items: center;
}
.input-i-message {
  padding: 0.5rem 0;
  padding-left: 10%;
}
/* ends  */

.message {
  height: 10rem;
  
}
textarea {
  /* width: 77%; */
  
}
.contact-button {
  width: 25%;
  height: 10%;
  border-radius: 3px;
  font-size: 0.9rem;
  background-color: grey;
  color: white;
  margin: 0.5rem 0 0 0.5rem;
  border-style: none;
  text-transform: uppercase;
}







/* ------------------ */
/* ------------------ */

/* Media Queries */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
      padding: 0.3rem;
  }
  /* Nav bar */
  nav {
    padding: 0.5rem 1rem 1rem;
  }
  .nav-menu {
    display: none;
  }

  /* Home */
  .home {
    padding: 0 1rem;
  }
  .header-inner {

  }
  .header-tag1 {
    font-size: 1.5rem;
  }
  .header-tag2 {
    font-size: 2.7rem;
  }
  .header-tagline {
    font-size: 1.3rem;
    margin-top: 12px;
  }
  .horizontal-line, footer {
    display: none;
  }

  /* Tabs */
  .header-tabs-container {
    padding: 0 1rem;
    height: 2.3rem;
  }
  .tab {
    width: 23%;
  }
  .tab a {
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    border-radius: 2px;
  }

  /* ---------------- */
  .icon-i {
      top: 23%;
      left: 4%;
      padding: 0.4rem;
      border-right: 2px solid #003c49;
  }
  .shift {
      top: 6%;
  }
  .contact-button {
      width: 90%;
      border-radius: 5px;
  }






}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  
}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {

  
}



