/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
  /* font-size: calc(60% + 0.8vmin); */
}

/* -------------------------- */
/* FONTS */
/* -------------------------- */
@font-face {
  font-family: RegularFont;
  src: url("./fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ------------------------- */
/* CSS Variables */
:root {
  /* --primary-color: rgb(235, 235, 238); */
  --secondary-color: grey;
  --normal-font: ;
  --bold-font: ;
}

/* Utilities */
.text-centered {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  opacity: 0.7;
}

body {
  font-family: RegularFont;
}
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "hd   hd   hd   hd"
    "main main main main"
    "ft   ft   ft   ft";
  /* gap: 10px; */
  /* border: 2px solid black; */
  /* background-color: #f3f3f3; */
}
.home, .about, .project, .contact {
  grid-area: main;
}

/* ------------------------------ */
/*  */
/* ------------------------------ */
nav {
  grid-area: hd;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  /* box-shadow: 1px 3.2px 15px lightgray; */
  /* background: #fff; */
}
.nav-title {
  align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav-menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.top-icon {
  margin-left: 10px;
  align-self: center;
  /* color: #16446b; */
}
.icon {
  padding: 0 15px;
}
.nav-btn {
  background: grey;
  /* padding: 0 auto; */
  border-radius: 2px;
  padding: 0px 42px;
  width: 31%;
  height: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75rem;
}
.nav-btn a {
  text-decoration: none;
  color: #fff;
}
.nav-btn a:hover {
  opacity: 0.7;
}

/* ------------------------------ */
/* TABS */
/* ------------------------------ */
.tabs-container {
  grid-area: ft;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
}
.horizontal-line {
  width: 40%;
  border-color: lightgray;
}

.nav-link {
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  /* border: 1px solid black; */
 
}
.nav-active {
  width: 100%;
  padding: 10px 20px;
  background: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}


/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */

/* ------------------------------ */
/*  */
/* ------------------------------ */



/* ------------------------- */
/*About Section*/


/* ------------------------------------------------------ */
/* Project Section */


/* ------------------------------------------ */
/* Contact section */

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------ -----------------*/
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
