
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid black; */
  /* font-size: calc(60% + 0.8vmin); */
}
html {
  overflow-y: hidden;
}

/* CSS Variables */
:root {
  /* --primary-color: rgb(235, 235, 238); */
  /* --secondary-color: rgb(21, 21, 27); */
  --normal-font: ;
  --bold-font: ;
}

/* Utilities */
.text-centered {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  opacity: 0.7;
}


.App {
  height: 100%;
}


/* ------------------------------ */
/* ------------------------------ */
header {
  height: 100vh;
  background-color: #f3f3f3;
  /* padding: 1.2rem 0 0 0; */
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 1.1rem;
  box-shadow: 1px 3.2px 15px lightgray;
}
.nav-title {
  align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav-menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.top-icon {
  margin-left: 10px;
  align-self: center;
  /* color: #16446b; */

}
.icon {
  padding: 0 15px;
}
.nav-btn {
  background: grey;
  padding: 8px 12px;
  border-radius: 2px;
  width: 31%;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
}
.header-inner {
  height: 81%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* margin-top: 1.5rem; */
}
.header-tabs-container {
  height: 4rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 3rem;
  border-top: 1px solid lightgray;
}
.horizontal-line {
  width: 36%;
  border-color: lightgray;
}
.tab {
  
  width: 10%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 2rem;
  /* border: 1px solid black; */
  border-radius: 4px;
}
.tab a.active {
  background: grey;
  color: #fff;
}
/* Footer section */
footer {
  text-align: center;
  /* color: beige; */
  font-size: 0.7rem;
  }




/* ---------------------------- */
/* Home */

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
.home.active {
  transform: translateY();
}
.header-tag1 {
  font-size: 2rem;
  font-weight: 500;
}
.header-tag2 {
  font-size: 4.5rem;
  font-weight: 700;
}
.header-tag-job {
  border-bottom: 1.8px solid #aa054a75;
} 
.header-tagline {
  font-size: 1.8rem;
  color: #55696d;
  font-weight: 200;
}
.header-button-container {
  margin-top: 1rem;
}
.button-project, .button-contact {
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  font-size: 1rem;
  /* border: 1px solid rgba(199, 5, 79, 0.459); */
  /* background-color: #aa054a; */
} 


/* ------------------------- */
/*About Section*/
.about-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.left {
  border: 1px solid black;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.right {
  border: 1px solid black;
  height: 100%;
  width: 80%;
}
.left a {
  text-decoration: none;
  color: black;
  padding: 0.8rem 2rem;
  /* border: 1px solid black; */
  border-radius: 4px;
}
.left a.active {
  background: grey;
  color: #fff;
}
.about-left-tag {
  height: 4rem;
  display: flex;
  align-items: center;
}
.who {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
}
.who-content {
  width: 58%;
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
.who-image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.who-image {
  width: 45%;
  height: 25rem;
  display: block;

}
.who-hr {
  width: 78%;
  border: 3px solid black;
  position: absolute;
}
.hr1 {
  top: 11%;
  left: 1%;
}
.hr2 {
  bottom: 11%;
  right: 2%;
}
.line {
  height: 3rem;
  font-size: 1.2rem;
  width: 75%;
  line-height: 24px;
}
.w-1 {

}
.w-3 {
  height: 5rem;
}
.w-5 {
  height: 8rem;
}
.about-tag {
  height: 5rem;
}




/* -------------- */
.about-title {
  font-size: 4rem;
  text-align: center;
}
.about-me {
  display: flex;
  justify-content: space-between;
  background-color: #fff7ec;
  border-radius: 20px;
  margin: 2rem 0;
  padding: 1rem;
}
.about-circle {
  background-color: #aa054a;
  border-radius: 50%;
  width: 5%;
  height: 2.5rem;
  margin: 1rem;
  margin-top: 0.5rem;
  margin-bottom: -0.6rem;
  display: inline-block;
}
.about-tag {
  font-size: 1.5rem;
  line-height: 1.4em;
  letter-spacing: 0.7px;
  /* font-family: 'Courier New', Courier, monospace; */
  margin-block-start: 0;
}
.content {
  height: 19rem;
  width: 60%;
}
.about-image-container {
  width: 27%;
}
.about-image {
  border-radius: 9px;
  width: 65%; 
  height: 19rem;
  display: block;
  margin: 0 auto;
}
.about-image-dash {
  display: flex;
  justify-content: center;
}
.dash {
  width: 4%;
  background-color: #aa054a;
  padding: 0.2rem 0.6rem;
  margin: 1rem 0.5rem;
  border-radius: 8px;
}


/* skills */
.skill-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem 0;
}
.skill-container {
  display: flex;
  justify-content: space-between;
}
.skill {
  text-align: center;
  font-size: 1rem;
  height: 10rem;
  width: 23%;
  background-color: #fff7ec;
  border-radius: 10px;

}

/* ------------------------------------------------------ */
/* Project Section */
.project-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.project-title {
  text-align: center;
  font-size: 4rem;
  border: 1px solid black;
}
.project-container {
  width: 64%;
  height: 20rem;
  border: 1px solid black;
}
.sidebar {
  width: 12%;
  height: 20rem;
  border: 1px solid black;
}

/* .box-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.box-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

} */
/* .box-3 {grid-area: box-3;} */
/* .box-4 {grid-area: box-4;} */
/* .box-5 {grid-area: box-5;} */
/* .box-6 {grid-area: box-6;} */

.box {
  background-color: #fff7ec;
  height: 16rem;
  width: 96%;
  margin: 1rem auto;
  margin-bottom: 0;
}
.box-content {
  text-align: center;
}
.box-image {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding-block-start: 1rem;
}


/* ------------------------------------------ */
/* Contact section */
.contact-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* Column one */
.contact-column-one {
  /* padding: ; */
  width: 55%;
}
.contact-tag {
  font-size: 4em;
}
.contact-tagline {
  font-size: 1.5em;

}

/* Column two */
.contact-column-two {
  width: 42%;
}
.contact-form {
  padding-top: 1rem;
}
/* icon inside input section */
.input-container {
  position: relative;
}
.icon-i {
  position: absolute;
  top: 30%;
  left: 6%;
  padding: 0.5rem;
  border-right: 1px solid #003c49;
}
.shift {
  top: 8%;

}
.input-i {
  padding-left: 3rem;
}
/* ends  */
input, textarea {
  height: 2rem;
  width: 63%;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border-style: none;

  box-shadow: 0.1rem 0.1rem 0.2rem #c5c5c5 inset,
  -0.1rem -0.1rem 0.2rem #ffffff80 inset, 0.3rem 0.3rem 0.6rem #c5c5c5,
  -0.2rem -0.2rem 0.5rem #ffffff80;
  color: #808080;
  border: 0;
}
.message {
  height: 10rem;
  padding: 0.5rem 0.5rem 0 2.8rem;
}
textarea {
  /* width: 77%; */
  
}
.contact-button {
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  font-size: 1rem;
  border: 1px solid rgba(199, 5, 79, 0.459);
  background-color: #aa054a;
  color: white;
  margin: 0.5rem 0 0 1rem;
}







/* ------------------ */
/* ------------------ */

/* Media Queries */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
      padding: 0.3rem;
  }
  /* Nav bar */
  nav {
    padding: 0.5rem 1rem 1rem;
  }
  .nav-menu {
    display: none;
  }

  /* Home */
  .home {
    padding: 0 1rem;
  }
  .header-inner {

  }
  .header-tag1 {
    font-size: 1.5rem;
  }
  .header-tag2 {
    font-size: 2.7rem;
  }
  .header-tagline {
    font-size: 1.3rem;
    margin-top: 12px;
  }
  .horizontal-line, footer {
    display: none;
  }

  /* Tabs */
  .header-tabs-container {
    padding: 0 1rem;
    height: 2.3rem;
  }
  .tab {
    width: 23%;
  }
  .tab a {
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    border-radius: 2px;
  }

  /* ---------------- */
  .icon-i {
      top: 23%;
      left: 4%;
      padding: 0.4rem;
      border-right: 2px solid #003c49;
  }
  .shift {
      top: 6%;
  }
  .contact-button {
      width: 90%;
      border-radius: 5px;
  }






}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {

  
}

/* Large Laptop */
@media screen and (min-width: 1440px) {

  
}


